In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("C:/Users/vaibh/Downloads/student_performance_dataset.csv")

In [4]:
df.isnull()

,math_score,reading_score,writing_score,placement_score,club_joining_year,placement_offer
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
95,False,False,False,False,False,False
96,False,False,False,False,False,False
97,False,False,False,False,False,False
98,False,False,False,False,False,False
99,False,False,False,False,False,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   math_score         100 non-null    int64
 1   reading_score      100 non-null    int64
 2   writing_score      100 non-null    int64
 3   placement_score    100 non-null    int64
 4   club_joining_year  100 non-null    int64
 5   placement_offer    100 non-null    int64
dtypes: int64(6)
memory usage: 4.8 KB

In [8]:
df.math_score

0     66
1     79
2     74
3     70
4     67
      ..
95    60
96    64
97    69
98    66
99    68
Name: math_score, Length: 100, dtype: int64

In [9]:
df.math_score.min()

60

In [13]:
x=df.math_score.min()

In [14]:
x

60

In [15]:
df.isnull().sum()

math_score           0
reading_score        0
writing_score        0
placement_score      0
club_joining_year    0
placement_offer      0
dtype: int64

In [16]:
a=df.math_score.fillna(x)

In [17]:
a

0     66
1     79
2     74
3     70
4     67
      ..
95    60
96    64
97    69
98    66
99    68
Name: math_score, Length: 100, dtype: int64

In [18]:
df.math_score.isnull().sum()

np.int64(0)

In [19]:
df.writing_score.min()

60

In [20]:
x=df.writing_score.min()

In [21]:
x

60

In [22]:
a=df.writing_score.fillna(x)

In [23]:
a

0     68
1     64
2     60
3     78
4     69
      ..
95    75
96    62
97    77
98    73
99    77
Name: writing_score, Length: 100, dtype: int64

In [24]:
df.placement_score.isnull()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: placement_score, Length: 100, dtype: bool

In [26]:
df.placement_score.isnull().sum()

np.int64(0)

In [28]:
x=df.placement_score.min()

In [29]:
x

75

In [31]:
a=df.placement_score.fillna(x)

In [32]:
a

0      76
1      96
2      77
3      90
4      83
     ...
95    100
96     81
97     99
98     78
99     87
Name: placement_score, Length: 100, dtype: int64

In [33]:
df.describe()

,math_score,reading_score,writing_score,placement_score,club_joining_year,placement_offer
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,70.090000,83.020000,69.560000,87.100000,2022.170000,2.580000
std,6.078767,4.431248,6.664121,8.177945,1.421729,0.496045
min,60.000000,75.000000,60.000000,75.000000,2020.000000,2.000000
25%,66.000000,79.750000,63.750000,79.000000,2021.000000,2.000000
50%,70.000000,83.000000,68.500000,88.000000,2022.000000,3.000000
75%,75.000000,87.000000,76.000000,95.000000,2023.000000,3.000000
max,80.000000,90.000000,80.000000,100.000000,2024.000000,3.000000